@import "palette"

#header, footer.footer {
  background-color: $grey !important;
}

.header-wrapper .title {
  text-transform: none;
}

.title a, .nav-item a {
  color: $lightestGray !important;
}

.nav-item a.router-link-active {
     border-bottom: 1px solid $lightGray;
}

.contact-item a {
  color: $lightestGray !important;
}

.ui-post-summary {
  color: $black !important;
  font-weight: 300 !important;
}

.ui-post-meta, .ui-post-tag a {
  color: $black !important;
  font-weight: 300 !important;
}

.copyright-item > .nav-link {
  color: $lightestGray !important;
}