@import "palette"

#header, footer.footer {
  background-color: $grey !important;
}

.title a, .nav-item a {
  color: $lightestGray !important;
}

.nav-item a.router-link-active {
     border-bottom: 1px solid $lightGray;
}

.contact-item a {
  color: $lightestGray !important;
}

.ui-post-summary {
  color: $black !important;
}

.ui-post-meta {
  color: $black !important;
  font-weight: 400;
}