$black = #1E2022
$grey = #52616B
$lightGray = #C9D6DF
$lightestGray = #f0f5f9

// colors
$accentColor = $lightGray

$textColor = $grey
$darkTextColor = $black

$borderColor =$lightGray
$darkBorderColor = $black

$codeBgColor = $black

$bgColor = #fff
$headerBgColor = $bgColor;

$footerBgColor = $darkTextColor
$footerColor = #828282

$newsletterBgColor = #f8f8f8